.header-date {
  margin-left:5px;
  padding:5px 10px 5px 90px;
  background:#eee;
}
.tag, .no-tag {
  display:inline-block;
  padding:5px 10px;
  margin-right:2px;
}
.tag {
  background:#ddd;
}
.no-tag {
  background:#ffb6b6;
}

.body-records{
  margin-left:5px;
}
.content-sum{
  width:90px;
  text-align:right;
  padding-right:5px;
}
